@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@500;900&family=Lato&family=Montserrat:wght@500&family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #2e4e81;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 35vw;
    height: 31px;
    border-radius: 2px;
    margin: 0 15px 0 70px;
    padding: 0 8px;
    font-family: 'Lato', sans-serif;
}

.search-bar button {
    font-family: 'Lato', sans-serif;
}

.btn {
    padding: 5px 14px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4c8bf1;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.slider {
    margin: auto;
    width: 92vw;
    margin: 3px auto;
    overflow: hidden;
}

.card {
    margin: auto;
    max-width: 96vw;
    font-family: 'Ubuntu', sans-serif;
}

.cards {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card-item {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 27px;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 77px;
    padding: 0px 14px;
}